.intro__title {
  margin: 64px 0 0 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .intro__title {
    margin: 92px 0 0 0;
    font-size: 54px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__title {
    margin: 88px 0 0 0;
    font-size: 54px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .intro__title {
    margin: 75px 0 0 0;
    font-size: 40px;
    line-height: 1.1;
  }
}
